body {
	margin: 0;
	padding: 0;
	width: 100vw;
	overflow-x: hidden;
	background-color: rgb(83, 104, 166);
}

@font-face {
	font-family: "Neuropol";
	src: local("Neuropol"), url(./fonts/neuropol.ttf) format("truetype");
}

@font-face {
	font-family: "Trueno Light";
	src: local("Trueno Light"),
		url(./fonts/TruenoLight-E2pg.otf) format("opentype");
}
