.LoginContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(221, 189, 253);
	font-family: "Tourney", cursive;
	font-size: 2rem;
	background-image: url("https://media.giphy.com/media/l0MYJAzu5RTVSGeiY/giphy.gif");
	background-size: cover;

	height: 100vh;
	margin-top: 0;
}

.SignupContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(221, 189, 253);
	font-family: "Tourney", cursive;
	font-size: 2rem;
	background-image: url("https://media.giphy.com/media/l0K4lUxBzIOeJd1EA/giphy.gif");
	background-size: cover;

	height: 100vh;
	margin-top: 0;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	margin: 30px;
	padding: 20px;
	font-family: "Tourney", cursive;
	font-size: 1.5rem;
	border-radius: 5%;
	background-color: rgb(37, 5, 63);
	color: white;
	border-style: solid;
}
