

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: rgb(89, 54, 46);
	font-family: "Neuropol";
	font-size: 2rem;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn {
	margin: 30px;
	padding: 20px;
	font-family: "Neuropol";
	font-size: 1.5rem;
	border-radius: 5%;
	background-color: rgb(176, 191, 190);
	color: rgb(228, 242, 241);
	border-style: solid;
}
