.navLinks {
	text-decoration: none;
	color: rgb(228, 242, 241);
	font-size: 1.2rem;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgb(176, 191, 190);
	height: 7vh;
	width: 100vw;
	font-weight: bold;
	font-family: "Rajdhani", sans-serif;
	margin: 0;
	padding: 0;
	/* font-family: "Neuropolitical", sans-serif; */
}
